# APAC Config
APAC_BASE_URL=http://dados.apac.pe.gov.br:41120
APAC_CEMADEN_ENDPOINT=cemaden
APAC_METEOROLOGIA_ENDPOINT=meteorologia24h

# ANA Config
ANA_AUTH_URL=https://www.ana.gov.br/hidrowebservice/EstacoesTelemetricas/OAUth/v1
ANA_BASE_URL=https://www.ana.gov.br/hidrowebservice/EstacoesTelemetricas/HidroinfoanaSerieTelemetricaAdotada/v1
ANA_INVENTARIO_URL=https://www.ana.gov.br/hidrowebservice/EstacoesTelemetricas/HidroInventarioEstacoes/v1
ANA_IDENTIFICADOR=seu_identificador
ANA_SENHA=sua_senha

# MQTT Config
MQTT_BROKER=broker.hivemq.com
MQTT_PORT=1883
MQTT_TOPIC_PREFIX=projeto-mapi/sensores
